{{!-- TEMPLATE FOR HOME PAGE --}}

<h1>
    FASTA-GEN
</h1>
<br>
<h2>Upload New Sequences</h2>

<form id="uploadCSV">
  <input type="file" name="file">
  <button type="submit">Upload CSV File</button>
</form>
<br>
<h2>Sync GBIF Data</h2>
<form id="syncGBIF">
  <button type="submit">Sync</button>
</form>
<br>
<h2>Download FASTA & Source Modifier Files</h2>
<form id="selectSequences">
  <button type="submit">Select Sequences</button>
</form>