{{!-- TEMPLATE FOR HOME PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Welcome to Specimods</p>
    <p>This application allows users to import a CSV spreadsheet of specimen sequences, sync with real time specimen metadata from GBIF, and export both FASTA and Source Modifier files, ready for upload to GenBank.</p>
</div>


