{{!-- TEMPLATE FOR HOME PAGE --}}
<br>
<div class="container-fluid">
    <p class="lead">Import Sequence Data from CSV Spreadhseet</p>
    <p>Download this <a href='http://localhost:8080/api/csv/files/fasta-gen_TEMPLATE.csv'>template</a> or modify your own spreadsheet to include these headers.</p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="https://www.ncbi.nlm.nih.gov/genbank/fastaformat/" target="_blank">SeqID</a>
            </div>
            <div class="col-md">
                <a href="https://dwc.tdwg.org/terms/#dwc:catalogNumber" target="_blank">catalogNumber</a>
            </div>
            <div class="col-md">
                <a href="https://dwc.tdwg.org/terms/#dwc:collectionCode" target="_blank">collectionCode</a>   
            </div>
            <div class="col-md">
                <a href="https://www.ncbi.nlm.nih.gov/genbank/fastaformat/" target="_blank">description</a> 
            </div>
            <div class="col-md">
                <a href="https://www.ncbi.nlm.nih.gov/genbank/fastaformat/" target="_blank">sequence</a>
        </div>        
    </div>    
</div>


