{{!-- TEMPLATE FOR HOME PAGE --}}
<br>
<div class="container-fluid">
  <h5>Upload New Sequences</h5>
  <form id="uploadCSV">
    <label class="custom-input">
      <input id="file" type="file" name="file">
    </label>
    <button type="submit">Upload CSV File</button>
  </form>
  <br>
  <h5>Sync GBIF Data</h5>
  <form id="syncGBIF">
    <button type="submit">Sync</button>
  </form>
  <br>
  <h5>Download FASTA & Source Modifier Files</h5>
  <form id="selectSequences">
    <button type="submit">View Sequences</button>
  </form>
  <br>

  <form id="sequenceListForm">
    <label>Hold down the Ctrl (Windows) or Command (Mac) button to select/deselect multiple options.</label>
    <br>
    <button id="downloadFiles" type="submit">Generate Files for Selected Sequences</button>
    <a id="downloadFasta">Download FASTA file</a>
    <a id="downloadSourceMod">Download Source Modifier file</a>
    <br>
    <br>
    <select id="sequenceList" class="form-select" multiple size="20" style="width: 75%;"></select>
  </form>
</div>


