{{!-- TEMPLATE FOR HOME PAGE --}}
<br>
<div class="container-fluid">
  <h5>Upload New Sequences</h5>
  <form id="uploadCSV">
    <label class="custom-input">
      <input id="file" type="file" name="file">
    </label>
    <button type="submit">Upload CSV File</button>
  </form>
  <br>
  <h5>Sync GBIF Data</h5>
  <form id="syncGBIF">
    <button type="submit">Sync</button>
  </form>
  <br>
  <h5>Download FASTA & Source Modifier Files</h5>
  <form class='form-inline'>
    <button id='selectSequences' type="submit">View All Sequences</button>
    <button id='selectITS' type="submit">View ITS Sequences</button>
    <button id='selectITS1' type="submit">View ITS1 Sequences</button>
    <button id='selectITS2' type="submit">View ITS2 Sequences</button>
    <button id='selectSSU' type="submit">View SSUrRNA(18s) Sequences</button>
    <button id='selectLSU' type="submit">View LSUrRNA(28s) Sequences</button>
  </form>
  <br>

  <form id="sequenceListForm">
    <label>Hold down the Ctrl (Windows) or Command (Mac) button to select/deselect multiple options.</label>
    <br>
    <button id="downloadFiles" type="submit">Generate Files for Selected Sequences</button>
    <a id="downloadFasta">Download FASTA file</a>
    <a id="downloadSourceMod">Download Source Modifier file</a>
    <br>
    <br>
    <button id="openModal" type="submit" data-toggle="modal" data-target="#modal">Delete Selected Sequences</button>
    <br>
    <br>
    <select id="sequenceList" class="form-select" multiple size="20" style="width: 75%;"></select>
  </form>

{{!-- Delete Modal --}}
{{!-- <div id="modal" class="modal" tabindex="-1" role="dialog">
  <form class="modal-content">
    <div class="container">
      <h1>Delete Selected Sequences</h1>
      <p>Are you sure you want to delete tghe selected sequences? This operation cannot be undone.</p>

      <div>
        <button id="cancelDelete">Cancel</button>
        <button id="confirmDelete">Delete</button>
      </div>
    </div>
  </form>
</div> --}}

<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Selected Sequences</h5>
        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete tghe selected sequences? This operation cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button id="confirmDelete" type="button">Delete</button>
        <button id="cancelDelete" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


